*.class

# Package Files #
*.jar
*.war
*.ear
/wolf-remote-api/target/
/wolf-framework/target/
/wolf-remote/target/
/wolf-dao-derby/target/
/wolf-dao-hbase/target/
/wolf-lucene/target/
/wolf-doc/target/
/wolf-fileupload/target/