@charset "utf-8";

body, div, input, textarea, img {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

input, textarea {
    width: 90%;
    outline: none;
    resize: none;
    background-color: white;
    margin: 0;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
}

input {
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    background-color: #E9E9E9;
}

html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font: 14px/20px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    color: #393939;
    background: #e4e4e4;
    position: relative;
}

.h20 {
    height: 20px;
}

.inline_block {
    display: inline-block;
}

.title{
    background: #EDF3F9;
}

.basic_button {
    text-align: center;
    font-weight: bold;
    color: white;
    background: #24A828;
    border-radius: 3px;
    font-size: 14px;
    height: 21px;
    padding: 5px 5px;
    display: inline-block;
}

.basic_button:hover {
    background: #1F9323;
}

.basic_button:active {
    background: #1B7E1E;
}

.main_header {
    height: 20px;
    background: #23658B;
    padding: 5px 8px;
    color: #E3E3E3;
    text-align: center;
}

.main_tool {
    position: relative;
    margin: 3px;
    padding: 8px;
    border-bottom: 1px solid gainsboro;
    overflow: hidden;
}

.md5_input_form {
    width: 150px;
    display: inline-block;
}

.md5_button {
    width: 60px;
    padding: 2px 2px;
    display: inline-block;
}
.md5_output_form {
    margin-top: 2px;
    width: 280px;
    display: inline-block;
}

.main_content {
    position: relative;
    zoom: 1;
}

.group_list {
    margin: 10px 0;
    border-bottom: 1px solid gainsboro;
    padding: 0 15px;
}

.group_list > .list_item {
    overflow: hidden;
    zoom: 1;
    background-color: #CCC;
    border: 1px solid #B9B9B9;
    color: #444;
    height: 18px;
    width: 100px;
    text-align: center;
    padding: 8px;
    margin: 2px 5px;
    cursor: pointer;
    display: inline-block;
}

.group_list > .list_item:hover {
    background: #3291C8;
}

.group_list > .list_item:active, .group_list > .list_item.selected {
    background: #2B7CAB;
}

.service_list, .service_info_panel {
    height: 92%;
    width: 98%;
    margin-top: 5px;
    border-top: 1px solid gainsboro;
}

.service_list > .list_item {
    font-size: 11px;
    color: #3c7cb3;
    border-bottom: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    cursor: pointer;
}

.service_list > .list_item > div {
    display: inline-block;
    height: 12px;
    padding: 8px 5px;
    text-align: left;
}

.service_list > .list_item > .actionName {
    min-width: 230px;
    max-width: 300px;
    border-right: 1px solid gainsboro;
}

.service_list > .list_item > .description {
    color: #444;
}

.service_list > .list_item:hover {
    background: #CCC;
}

.content {
    width: 970px;
    margin: 0 auto;
    position: relative;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 7px rgba(0,0,0,0.1);
    overflow: hidden;
    padding: 10px;
    min-height: 400px;
}

.text {
    padding: 10px;
}

.list {
    margin: 5px;
    border-right: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
}

.list_header, .list_item {
    border-bottom: 1px solid gainsboro;
}

.list_header > div, .list_item > div {
    min-width: 150px;
    display: inline-block;
    border-left: 1px solid gainsboro;
}

.test-panel {
    position: relative;
}

.test_form {
    width: 350px;
    height: 300px;
    padding: 3px;
    border-right: 1px solid gainsboro;
}

.test_button {
    display:block;
    width: 100px;
    margin: 5px auto;
}

.test_form .form_label {
    width: 100px;
    display: inline-block;
    text-align: right;
    padding: 0 5px;
}

.test_form input {
    margin-top: 2px;
    width: 175px;
    background-color: #E9E9E9;
    border: 1px solid #BFBFBF;
    border-radius: 1px;
    height: 12px;
    padding: 2px 0;
    display: inline-block;
}

.test_response_form {
    position: absolute;
    left: 360px;
    top: 40px;
    width: 610px;
    height: 300px;
}

.test_response_form textarea {
    width: 100%;
    border: 0 solid gainsboro;
    height: 100%;
}